/* ===============================================
    ABOUT PAGE STYLES
=============================================== */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* ===== ROOT VARIABLES ===== */
:root {
    --green-color: #00a651;
    --dark-gray: #2b2b2b;
    --light-gray: #f5f5f5;
}

/* ===== GLOBAL STYLES ===== */
body {
    font-family: "Poppins", Arial, sans-serif;
    background: var(--light-gray);
    color: #333;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5 {
    margin: 0;
}
section {
    padding: 70px 10%;
}

/* ===== NAVBAR ===== */
.header {
    width: 100%;
    postition: fixed;
    top: 0;
    left: 0;
    backgraound: linear-gradient( to right, 
    rbga(0, 0, 0, 0.75),
    rgba(25, 25, 25,0.6),
    rgba(0, 0, 0, 0.75) );
    );
    backdrop-flter: blur(10px);
    box-shadow: 0 2px 8px rbga(0, 0, 0, 0.2);
    z-index: 1000;
    trasnition: top 0.4s ease, background 0.5s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    alighn-items: center;
    padding: 15px 60px;

}

.nav-hidden {
    top: -100px; /* Hide navbar when scrolling down */
}

/* ===== LODO ===== */
.logo img {
    height: 100px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
    transform: scale91.05);
    filter: brightness(1.2);
}

/* ===== NAV LINKS ===== */
.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
    margin: 0;
    padding: 0;
}

/* ============== FOOTER SECTION ============== */
.footer {
    display: flex;
    justify-content: space-around;
    align-item: flex-start;
    padding: 40px 0;
    backgraound-color: #585858:var(--dark-gray);
    color: #fff;
    flex-wrap: wrap

}

